*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


body{
  background-color: rgb(54, 55, 126)
}
a{
  text-decoration: none;
  font-size: 20px;
  color: wheat;
}

.form {
  border: 5px solid black;
  margin: 0 auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 20px;
  font-size: 30px;
  background-color: rgb(93, 138, 196);
}
.form-wraper {
  display: flex;
  flex-direction: column;
}
.error-text{
  display: block;
  color: red;
  font-size: 20px;
}
.passw {
  max-width: 700px;
  width: 100%;
}
.emailError {
  display: block;
}
.show-icon {
  color: #000;
  cursor: pointer;
}